<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data Name</th>
            <th>Code</th>
            <th>Category</th>
            <th>TableName</th>
            <th>API</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>

    <tr class="gradeX" th:each="data : ${dataList}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.name}"></td>
        <td th:text="${data.code}"></td>
        <td th:text="${data.data_category_name}"></td>
        <td th:text="${data.table_name}"></td>
        <td th:text="${data.api}"></td>

        <td th:data-id="${data.id}">
            <button class="btn btn-primary btn-xs user-edit" type="button" title="edit">
                edit
            </button>
            <button  type="button" class="btn btn-danger btn-xs user-delete" title="delete">
                delete
            </button>

            <button th:if="${data.has_series == 1} " class="btn btn-primary btn-xs series-add" type="button" title="add">
                Add Series
            </button>
        </td>
    </tr>
    </tbody>
</table>


</html>