<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_partials/head :: head">

</head>

<style>
	td {
		border: 1px solid #755f5f !important;
	}
</style>
<body>

<div class="wrapper">

	<header id="header" th:replace="_partials/header :: header">
	</header>

	<div class="breadcomb">
		<div class="container">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li><a href="#">Payment History</a></li>
				<li><a href="#">History</a></li>
			</ul>
		</div>
	</div>


	<section>
		<div class="settingSec">
			<div class="container">
				<div class="d-flex flex-row">
					<div class="nav-tabs-left nav-tabs">
						<h2>Settings</h2>
						<ul id="user_leftmenu" th:replace="subpart/user_leftmenu :: user_leftmenu">

						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-innerSec">
							<h2>Payment History</h2>
							<div  class="data-code">
								<ul id="main-article">

								</ul>
							</div>

							<div class="paginationLink">

								<div style="float: left;display: none" class="pagination">共
									<span id="total-num"></span>
									条记录
									<span id="current-page"></span>
									/
									<span id="total-page"></span>
								</div>

								<ul id="pagination"  class="pagination">

									<li class="page-item active"><a href="javascript:void(0);">1</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
	</section>
</div>

<footer th:replace="_partials/footer :: footer"></footer>

</body>

<script src="/js/jqPaginator.min.js"></script>
<script src="/admin/js/plugins/chosen/chosen.jquery.js"></script>

<script src="/js/user/pay_history.js"> </script>

</html>