<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_partials/head :: head">

</head>

<body>

<div class="wrapper">

	<header id="header" th:replace="_partials/header :: header">
	</header>

	<div class="breadcomb">

		<div class="container">

			<ul>

				<li><a href="#">Home</a></li>

				<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

				<li><a href="#">About Us</a></li>

				<li><a href="#">About Us</a></li>

			</ul>

		</div>

	</div>

	<div class="about-company">

		<div class="container">

			<div class="aboutContent">

				<h2>Company Overview</h2>

				<div class="row">

					<div class="col-md-6 innrColOver">

                        <p>DataExo is the business data shopping platform. It sells financial data, marketing data, medical and hospital data, real estate data, and many other data sets.
                            The objective of DataExo is providing one stop shop for all business data. To fulfill this goal, DataExo develops and supports data marketplace platform. On this platform, data vendors can upload, update, visualize and distribute data to data consumers, and consumer can search and find the data they need, subscribe to the data, and download the data.
                        </p>

                        <p>DataExo retail and DataExo marketplace are two channels to see and buy data. DataExo retail is the channel that DataExo company sells data. DataExo marketplace is a collection of independent data retails and vendors who sell their data on the DataExo system. Typically, DataExo retail does not compete with market place vendors.
                            If data consumer does not find certain data in DataExo system, he can post request on the platform, data vendors or DataExo will acquire the data.
                        </p>

					</div>

					<div class="col-md-6 innrColOver">

						<img src="/images/RightAbout.jpg" alt="RightAbout">

					</div>

				</div>

			</div>

            <div class="aboutContent">

                <div class="row">

                    <div class="col-md-6 innrColOver">
                        <h4 style="font-weight: bold; text-align: center;">The Power of DataExo</h4>
                        <p>DataExo Marketplace and DataExo Retail play a big part in providing all those every day and hard to find data sets. DataExo Marketplace is a collection of independent retailers and vendors who sell their data through the DataExo system. These retailers use DataExo web services, such as data ETL (extraction, transformation, loading), data management, data visualization, data analysis and data API, and in return pay DataExo a percentage of the data sets sold. Very often, the Marketplace retailers can go beyond borders to tap new markets by selling their data throughout the world via DataExo web infrastructure.</p>

                    </div>

                    <div class="col-md-6 innrColOver">
                        <h4 style="font-weight: bold; text-align: center;">The DataExo Experience</h4>
                       <p>Importantly, the  DataExo consumer experience is the same whether data are sold directly from DataExo or a 3rd party via the Marketplace. They’re designed to be: DataExo wants its users to have a consistent user experience, so all Marketplace sellers fit seamlessly into the DataExo system. The data set pages, the subscription and download options, and the checkout process are all largely the same consumer experience. It’s only different on the back end — who’s offering the data, who’s getting paid, who’s doing the data maintaining and update, and so on.
                           So, in many cases, data consumers won’t even know they’re buying from a Marketplace seller, or DataExo, unless they watch carefully.
                       </p>

                    </div>

                </div>

            </div>

			<div class="aboutContent">

				<h2>We Will Create Multi Vendor in Future</h2>

				<div class="row">

					<div class="col-md-6 innrColOver" alt="leftabout">

						<img src="/images/leftabout.jpg">

					</div>

					<div class="col-md-6 innrColOver">

                        <p>Get ready to experience multiple vendors at DataExo marketplace. Our platform supports multi vendor, which means numerous vendors can upload and sell their data. Here, multiple vendors can able to visualize, upload, update and distribute data. They can go beyond borders and tap various new markets using our platform. It is a big plus for the consumers who can find suitable data from various sources, which will increase the scope of finding data that are more relevant much quicker than before. </p>
                        <p>We are working hard to build relationships with numerous developers and investors. We are progressing very fast, which is evident from the increasing number of multiple vendors regularly uploading their own data set and selling them on our platform. If you have a dataset and want it to sell in a marketplace where the investors and developers are given utmost priority, then you should partner with us. No matter if your dataset is niche financial, you are looking to create the first API, or you are an established entity looking for new exposure, our multi vendor infrastructure will be just the right platform for you.</p>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="testimonialSec">

		<div class="container clientHeading">

			<h2>Happy Clients</h2>

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

				<ol class="carousel-indicators">

					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

				</ol>

				<div class="carousel-inner" role="listbox">

					<div class="carousel-item active">

						<div class="CustomItem-Content">

                            <p>Being a realtor, I know that just having data is not enough. I needed custom data solution that is crafted around my business. Thanks to DataExo for providing custom solution that integrated into my workflow seamlessly. </p>
							<div class="profileImg">

								<!--<img src="/images/profile.png" alt="First slide">-->

								<h5>Noah Gamer</h5>

							</div>

						</div>

					</div>

					<div class="carousel-item">

						<div class="CustomItem-Content">

							<!-- <img src="/images/arrowup.png" alt="secound slide"> -->

                            <p>DataExo helped me to create successful marketing strategy. The data solutions that we have gathered from DataExo’s platform made a big difference. It helped us to identify the possibilities and bridge that gap resulting in great success.</p>
							<div class="profileImg">

								<!--<img src="/images/profile.png" alt="First slide">-->

								<h5>Michael Miller</h5>

							</div>

							<!-- <img src="/images/arrowDown.png" alt="First slide"> -->

						</div>

					</div>

					<div class="carousel-item">

						<div class="CustomItem-Content">

                            <p>I was planning to start my own hospital chain and for that I needed perfect data solutions. DataExo’s medical data helped me immensely establish my business with proper strategies and decisions. Thanks!</p>
							<div class="profileImg">

								<!--<img src="/images/profile.png" alt="First slide">-->

								<h5>Steve Dawson</h5>

							</div>

						</div>

					</div>

				</div>

			</div>

			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

				<span class="carousel-control-prev-icon" aria-hidden="true"></span>

				<span class="sr-only">Previous</span>

			</a>

			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

				<span class="carousel-control-next-icon" aria-hidden="true"></span>

				<span class="sr-only">Next</span>

			</a>

		</div>

	</div>



	<section>

		<div class="contact-section">

			<div class="container">

				<div class="ContactContent">

					<div class="contactLeft-sec">

						<h2>Contact Us</h2>
						<form action="/user/sendmessage" method="POST" id="form">
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_name">CAN'T BE BLANK</span>
								<input type="text" name="name" id="name" class="form-control cstmInputCntrl" placeholder="Name">
							</div>
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_email">CAN'T BE BLANK</span>
								<input type="text" name="email" id="email" class="form-control cstmInputCntrl" placeholder="Email">
							</div>
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_content">CAN'T BE BLANK</span>
								<textarea class="form-control cstmInputCntrl" name="content" id="content"  rows="4" placeholder="Message"></textarea>
							</div>
							<span class="text-blank" id="valid_ab_captcha">Captcha Error!</span>
							<div id="captcha"></div>
							<button id="btnSendMsg"  class="btn btn-default bttnSubmit" type="submit"><i style="color: white;margin-right:10px;display:none;" id="sm_btWaiting" class="fa fa-circle-o-notch fa-spin"></i>Submit</button>
						</form>

					</div>

					<div class="contactRight-sec">
						<p>We are the company that can evaluate the tangible value of data in today’s capital market. We understand the fact that data is one of the best modern-day resources, which all business requires to flourish. We make our clients understand the tangible value of accurate database and help them to stay ahead in the global competition.</p>
                        <p>We help our customers to bring out the best from the available resources. We inspire our customers to incorporate new strategies into their business and improve their products and services. We tell our customers how to find new and efficient ways to deal with complex information that can create opportunities and regulate market movement.  So, fill up the form with your query/requirement, we will get back to you asap.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<footer th:replace="_partials/footer :: footer"></footer>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit">
</script>

<script src="/js/user/contactus.js"></script>

</body>

</html>