<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_partials/head :: head">

</head>

<body>

<div class="wrapper">

	<header id="header" th:replace="_partials/header :: header">
	</header>

	<div class="bannerMenu">

		<div class="bannerSec">

			<div class="container">

				<div class="row">

					<div class="col-md-6">

						<div class="bannerText">

							<h2>The <span>World’s</span> most Powerful Data lives on DATAEXO.</h2>

						</div>


						<div class="custmText">
							<p>One-stop solution for all business data. <br>
								Premier source of financial, real estate <br>
								and marketing data sets. </p>
						</div>

					</div>

					<div class="col-md-6">

						<div class="bannerImg"> <img src="/images/banner-img.png"> </div>

					</div>

				</div>

			</div>

		</div>

		<div class="custmBanner">

			<div class="container">

				<div class="bannerInner">

					<div class="row">

						<div class="col-md-4">

							<div class="dataCont">

								<div class="dataIcon"><img src="/images/dataIcon-2.png"></div>

								<div class="dataText">

									<h2>CORE FINANCIAL DATA</h2>

									<p>Get authentic financial data that is filtered and segmented according to the niche market. Highly useful data that revolves around statistics, stocks and macroeconomics.</p>
								</div>

							</div>

						</div>

						<div class="col-md-4">

							<div class="dataCont">

								<div class="dataIcon"><img src="/images/dataIcon-1.png"></div>

								<div class="dataText">

									<h2>REAL ESTATE DATA</h2>
									<p>DataExo delivers custom real estate data solutions including homeowners’ details, housing/apartment price, rental properties and more by conducting thorough market analysis </p>
								</div>

							</div>

						</div>



						<div class="col-md-4">

							<div class="dataCont">

								<div class="dataIcon"><img src="/images/icon2.png"></div>

								<div class="dataText">

									<h2>MARKET DATA</h2>

									<p>We bring undiscovered data to keep you up by creating a solid marketing strategy. Highly scalable and flexible data tailored around your business.</p>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="custData">

		<div class="container">

			<div class="dataMenu">

				<div class="expoText">

					<h2>The DATA<span>EXO</span> Tools</h2>

					<p>Our hierarchy plays a big part to find those exclusive data sets every day. Users can make queries about our data and analyze it.
						This will help them decide on actually how to make the data work successfully. </p>

				</div>

				<div class="row">

					<div class="col-md-6">

						<div class="collapseSec">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <span class="imgactive"><img src="/images/alterIcon-1.png"></span> <span class="imgashow"><img src="images/alterIcon-2.png"></span> CORE FINANCIAL DATA </a> </h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
										<div class="panelbody">Useful financial data is now at your fingertips. Our financial data aims to unite the developers and investors in concord. This helps them to empower the finance industry’s future in an innovative way.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> <span class="imgactive"><img src="/images/alterIcon-1.png"></span> <span class="imgashow"><img src="images/alterIcon-2.png"></span> FINANCIAL MARKET PRICE </a> </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panelbody"> We bring market data solution that is accurate, reliable and fast. Our data helps in scrutinizing intricate relationships, observe progress and convert research into results. </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> <span class="imgactive"><img src="/images/alterIcon-1.png"></span> <span class="imgashow"><img src="images/alterIcon-2.png"></span> FINANCE REFERENCE DATA </a> </h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panelbody"> It is inclusive of three categories, which are Finance fundamentals, Financial market, Finance & Economics. Finance fundamental data include company fundamental data such as net income, profits, etc. Finance & Economics data includes employment rate, job loss rate, GDP growth rate, etc.
											Enjoy access to dependable data on various financial spectrums such as economic, stock prices, ratios, metrics, real-time prices and more.
											 </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfour">
										<h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour"> <span class="imgactive"><img src="/images/alterIcon-1.png"></span> <span class="imgashow"><img src="images/alterIcon-2.png"></span> OTHER </a> </h4>
									</div>
									<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
										<div class="panelbody"> Explore the power of data in valuable featured areas such as FX rates, macroeconomic statistics, stocks and more. </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">

						<div class="dataImg"><img src="/images/dataexo-img.jpg"></div>

					</div>
					</div>



				</div>

			</div>

		</div>

	</div>

	<section>

		<div class="feature-Sec">

			<div class="container">

				<div class="feature-content">

					<h3>Featured Data</h3>

					<div class="row">

						<div th:each="dataset : ${dataSetFeatureList}" class="col-sm-6 col-lg-4 cstm-colFeature">

							<div class="media">

								<div class="media-left">
									<a href="javascript:void(0)">
                                        <img class="codeImg" style="width: 55px; position: relative !important;" th:if="${dataset.icon != '' && dataset.icon != null}" th:src="${domain}+'/'+ ${dataset.icon}" alt="DATASET">

                                        <h5 th:if="${dataset.icon == '' || dataset.icon == null}">[[${dataset.code}]]</h5>

									</a>
								</div>

								<a th:href="'/data_sets/cateid/'+${dataset.data_category_id}+'/details/'+${dataset.id}" class="media-body" style="max-height: 107px;overflow: hidden;">

									<h4 class="media-heading">[[${dataset.name}]]</h4>

									<p>[[${dataset.description}]]</p>

								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="Data-section">

			<div class="container">

				<div class="Data-content">

					<div class="innerDataCntnt">

						<h3>Go from needing data to having data in seconds</h3>
						<p>If you need data, we have data. DATAEXO gives you access to the pool of high-quality relevant data in various key spheres like finance, real estate, medical and other business domains in seconds.</p>
					</div>

					<ul>

						<li>

							<div class="innrTitle">

								<div class="leftImg"> <img src="/images/icon1.png"> </div>

								<div class="rightSecInnr">

									<h5>Easy Access</h5>

									<p>You can explore our data easily via API, Google Sheets, Excel or CSV. Just use our free apps and enjoy easy access.</p>
								</div>

							</div>

						</li>

						<li>

							<div class="innrTitle">

								<div class="leftImg"> <img src="/images/icon2.png"> </div>

								<div class="rightSecInnr">

									<h5>Works Everywhere</h5>

									<p>Our data solutions work anywhere. It means you can track, optimize, allocate and entitle easily in a real-time scenario.</p>
								</div>

							</div>

						</li>

						<li>

							<div class="innrTitle">

								<div class="leftImg"> <img src="/images/icon3.png"> </div>

								<div class="rightSecInnr">

									<h5>Affordable</h5>

									<p>We bring affordable data solutions. You have to only pay for the data you need.</p>

								</div>

							</div>

						</li>

					</ul>

				</div>

			</div>

		</div>

		<div class="DataSetting-sec">

			<div class="container">

				<div class="DataSetting-content">

					<h3>Buy Dataset</h3>

					<div class="row">

						<div th:each="dataset : ${dataSetTopSellList}" class="col-sm-6 col-md-6 col-lg-3 cstmcolset">
							<img src="/images/batch.png">

							<div class="upperSec" style="height: 88px;">

                                <img style="left: calc(50% - 23px);width: 55px;top: 20px;" class="codeImg" th:if="${dataset.icon != '' && dataset.icon != null}" th:src="${domain}+'/'+ ${dataset.icon}" alt="DATASET">

                                <h4  th:if="${dataset.icon == '' || dataset.icon == null}">[[${dataset.code}]]</h4>

							</div>

							<div class="downSec" style="max-height: 220px;overflow: hidden;">

								<h5>[[${dataset.name}]]</h5>

								<p style="max-height: 89px;overflow: hidden;min-height: 89px;">[[${dataset.description}]] </p>

								<a th:href="'/data_sets/cateid/' + ${dataset.data_category_id} +'/details/' + ${dataset.code} + '/purchase'" class="btn btn-default bttn-buy" type="submit">Buy</a>

								<a th:href="'/data_sets/cateid/'+${dataset.data_category_id}+'/details/'+${dataset.id}" class="btn btn-default bttn-veiw" type="submit">Veiw</a>

							</div>

						</div>


					</div>

				</div>

			</div>

		</div>

		<div class="contact-section">

			<div class="container">

				<div class="ContactContent">

					<div class="contactLeft-sec">

						<h2>Contact Us</h2>
						<form action="/user/sendmessage" method="POST" id="form">
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_name">CAN'T BE BLANK</span>
								<input type="text" name="name" id="name" class="form-control cstmInputCntrl" placeholder="Name">
							</div>
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_email">CAN'T BE BLANK</span>
								<input type="text" name="email" id="email" class="form-control cstmInputCntrl" placeholder="Email">
							</div>
							<div class="form-group">
								<span class="text-blank"  id="valid_ab_content">CAN'T BE BLANK</span>
								<textarea class="form-control cstmInputCntrl" name="content" id="content"  rows="4" placeholder="Message"></textarea>
							</div>
							<span class="text-blank" id="valid_ab_captcha">Captcha Error!</span>
							<div id="captcha"></div>
							<button id="btnSendMsg"  class="btn btn-default bttnSubmit" type="submit"><i style="color: white;margin-right:10px;display:none;" id="sm_btWaiting" class="fa fa-circle-o-notch fa-spin"></i>Submit</button>
						</form>

					</div>

					<div class="contactRight-sec">
						<p>We are the company that can evaluate the tangible value of data in today’s capital market. We understand the fact that data is one of the best modern-day resources, which all business requires to flourish. We make our clients understand the tangible value of accurate database and help them to stay ahead in the global competition.</p>
						<p>We help our customers to bring out the best from the available resources. We inspire our customers to incorporate new strategies into their business and improve their products and services. We tell our customers how to find new and efficient ways to deal with complex information that can create opportunities and regulate market movement.  So, fill up the form with your query/requirement, we will get back to you asap.</p>
					</div>

				</div>

			</div>

		</div>

	</section>

	<footer th:replace="_partials/footer :: footer"></footer>
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit">
</script>

<script src="/js/user/contactus.js"></script>


</body>

</html>