<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_partials/head :: head">

</head>

<body>

<div class="wrapper">

	<header id="header" th:replace="_partials/header :: header">
	</header>

	<div class="breadcomb">

		<div class="container">

			<ul>

				<li><a href="#">Home</a></li>

				<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

				<li><a href="#">Privacy Policy</a></li>

				<li><a href="#">Privacy Policy</a></li>

			</ul>

		</div>

	</div>

	<div class="about-company">

		<div class="container">

			<div class="aboutContent">

				<main class="Page-main Prose">
					<h1 class="Page-title">Privacy Policy</h1>
					<div class="Page-contents" data-swiftype-name="body" data-swiftype-type="text">
						<p>In order to make the process of transaction easy and secure, we may ask you to share your personal information with us. We may use various ways in the process of collecting your personal identification details before you place an order through our site. Users are allowed to use our site for browsing and purchasing our products by becoming a registered member of our site. This will require information like accurate name, mailing address, email address and valid phone number. We collect personal identification details of the users who are ready to share such details with us. Users are allowed to refuse to share personal details unless it restricts them to access any particular </p>
						<h2 id="segment-s-service-and-client-user-data" class="Permalink">Sharing Non-Personal Information
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>In order to make the process of interaction and transaction safe and secure, we often need non-personal information of the users. These include the name of the browser, device details, operating system, web service provider and many other similar details. </p>
						<h2 id="collection-of-personally-identifying-information" class="Permalink">Browser Cookies
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>We often use browser cookies to make your browsing experience better. Your web browser creates and stores cookies on your computer. This helps us to access some non-personal information if the user allows us to access cookies. However, users can stop their browser from storing cookies. Some part of our site may not function properly if the browser does not store cookies.</p>
						<h2 id="how-we-use-personally-identifying-information" class="Permalink">Why We Need Your Information ?
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>The collected personal and non-personal information are used for the following purposes:
							•    In order to operate our site, we need users’ information content on the site precisely
							•    Users’ personal and non-personal information help us to respond more efficiently.
							•    We often utilize users’ information to personalize their experience by understanding how they are using the content and resources of our site.
							•    Users’ feedback is important to us, as we use them to improve our products and services.
							•    We often run a promotional campaign, survey, content and many other features at our site and we use the users’ information to let them know about these kinds of promotions and features.
							•     We require the email address of the users so that we can inform them about the updates related to their order. Users’ details also help us to respond to their queries effectively.
						</p>
						<h2 id="website-visitors" class="Permalink">We Are Obliged to Protect Your Information
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>We are obliged to protect your valuable information from any kind of unauthorized access. We have adopted a secured data collection and processing measure. Our secure system collects, stores, processes your information including username and password correctly, and protects them from any unauthorized access, distribution and destruction.</p>
						<h2 id="behavioral-targeting-re-targeting" class="Permalink">Sharing the Information
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>We are not associated with any business or activities where we may require selling or renting our user’ valuable information to a third party. We often share demographic information of our users with our business partners, but that information is not linked with our users’ personal details.</p>
						<h2 id="purchase-information" class="Permalink">Third Party Websites
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>You may find some promotional contents on our site that directly link with other websites of our partners or any other third parties. We are not the operator of those sites and hence not responsible for the services and activities they are involved with. These kinds of third-party websites frequently change their contents and services. These websites have their own customer service and privacy policies and involving with any kind of deal or transaction means, the user is agreed to the terms and conditions described in their privacy policy.</p>
						<p>In addition, you may find a number of advertisements on our website published by our advertising partners. They may send cookies to get information about the device you are using. This makes them enabled to send you more relevant advertisement you are interesting to see on the webpage. Search engine Google may post some advertisements on your web page and it may enable cookies to post more user-based advertisement on the webpage. Google, however, does not track any of your personal information such as email or address.</p>
						<h2 id="children" class="Permalink">How Secure Your Information is
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>Because the nature of our Service does not appeal to children under the age of 13, Segment does not knowingly acquire or receive PII from children under 13. If we later learn that any user of our Service is under the age of 13, we will take appropriate steps to remove that user’s information from our account database and will restrict that individual from future access to the Service.</p>
						<h2 id="testimonials" class="Permalink">Testimonials
							<a class="Permalink-link" href="#">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>The protection of your valuable personal information is our duty and we use Secure Socket Layer (SSL) technology to protect your personal details from any kind of unauthorized access. The SSL software encrypts all the information you share with us. During the process of money transaction, we share your debit or credit card number with the card providing company. We show only the last few digits of your card when the transaction is underway.</p>
						<h2 id="social-media-widgets" class="Permalink">Privacy Policy Amendment
							<a class="Permalink-link" href="https://segment.com/docs/legal/privacy/#social-media-widgets">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#social-media-widgets"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>We have the right to make any amendment or update to our privacy policy. However, we notify the visitors by posting a notification on our website. We always suggest the visitors go through the main page and collect information about the latest changes that we have made. Though we are obliged to protect your personal details, it is your responsibility to go through our privacy policy page periodically and know about the latest modifications.</p>

						<h2 id="mailing-list-information" class="Permalink">You Agree to Our Terms and Conditions
							<a class="Permalink-link" href="https://segment.com/docs/legal/privacy/#mailing-list-information">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#mailing-list-information"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>Once you start using our site, you have agreed to our terms and conditions described in our privacy policy page. If you have read our privacy policy content and found it difficult to be agreed with our terms and condition, you can decide not to use our site.</p>
						<p>You have the right of not to share your personal information with us. The unavailability of any particular information may restrict you accessing any part of your service through our official website. You are allowed to include or update any of your existing information that you have shared with us. If you do not want to receive notification for any kind of update through mail or emails, you can do it by making some changes in the setting option.</p>

						<h2 id="aggregate-information" class="Permalink">Contact Us
							<a class="Permalink-link" href="https://segment.com/docs/legal/privacy/#aggregate-information">
								<i class="Permalink-icon ss-link"></i>
							</a>
							<a class="Permalink-link" href="#aggregate-information"> <i class="Permalink-icon ss-link"></i> </a></h2>
						<p>If you have any query regarding our privacy policies or any other issues, you can contact us without any hesitation. We respect your privacy and always take measures to protect your valuable personal details from any kind of unauthorized access.</p>

					</div>

				</main>
			</div>


		</div>

	</div>


	<footer th:replace="_partials/footer :: footer"></footer>
</div>

</body>

</html>