<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<section class="sidebar" th:fragment="sidebar" >
    <!-- Sidebar user panel -->

    <style>
        .sidebar{
            padding-bottom: 0px !important;
        }
        .main-sidebar{
            background-color: #222d32;
            height: auto !important;
            padding-bottom: 100px;
        }
    </style>
    <div class="user-panel">
        <div class="pull-left image">
            <img src="/image/admin.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info" style="color:white;">
            <p>Administrator</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <ul class="sidebar-menu" style="color:white;">
        <li class="header" >MAIN NAVIGATION</li>

        <li class="treeview" id="vendor-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle"  >
                <i class="fa fa-user"></i> <span>Vendors</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="vendor-list-li"><a href="/admin/vendor/list"><i class="fa fa-circle-o"></i> Vendor List</a></li>
                <li id="vendor-add-li"><a href="/admin/vendor/add"><i class="fa fa-circle-o"></i> Add Vendor User</a></li>
            </ul>
        </li>

        <li class="treeview" id="user-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle"  >
                <i class="fa fa-user"></i> <span>Users</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="user-list-li"><a href="/admin/user/list"><i class="fa fa-circle-o"></i> User List</a></li>
                <li id="user-add-li"><a href="/admin/user/add"><i class="fa fa-circle-o"></i> Add New User</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-set-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-database"></i> <span>Data Sets</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-set-list-li"><a href="/admin/data_set/list"><i class="fa fa-circle-o"></i>Data Sets List</a></li>
                <li id="data-set-add-li"><a href="/admin/data_set/add"><i class="fa fa-circle-o"></i>Add Data Set</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-series-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-database"></i> <span>Data Series</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-series-list-li"><a href="/admin/data_series/list"><i class="fa fa-circle-o"></i>Data Series List</a></li>
                <!--<li id="data-series-add-li"><a href="/admin/data_series/add"><i class="fa fa-circle-o"></i>Add Data Series</a></li>-->
            </ul>
        </li>

        <li class="treeview" id="data-set-filter-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-database"></i> <span>Dataset Filter</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-set-filter-list-li"><a href="/admin/data_set_filter/list"><i class="fa fa-circle-o"></i>Dataset Filter List</a></li>
                <li id="data-set-filter-add-li"><a href="/admin/data_set_filter/add"><i class="fa fa-circle-o"></i>Add Dataset Filter</a></li>
            </ul>
        </li>

        <li class="treeview" id="trans-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-pie-chart"></i> <span>Transaction</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>  </span>
            </a>

            <ul class="treeview-menu">
                <li id="vendor-trans-list-li"><a href="/admin/vendor/transaction/list"><i class="fa fa-circle-o"></i>Vendor Transaction</a></li>
                <li id="user-trans-list-li"><a href="/admin/user/transaction/list"><i class="fa fa-circle-o"></i>User Transaction</a></li>

            </ul>

        </li>

        <li class="treeview" id="payment-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-bank"></i> <span>Payment Analyze</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="payment-list-li"><a href="/admin/payment/list"><i class="fa fa-circle-o"></i>Analyze</a></li>
            </ul>
        </li>

        <li class="treeview " id="withdraw-manage-li" onclick="sidebar_item(this);">
            <a href="#">
                <i class="fa fa-money"></i> <span>Balance Withdraw</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="withdraw-list-li"><a href="/admin/withdraw/list"><i class="fa fa-circle-o"></i>Withdraw List</a></li>
                <!--<li id="withdraw-request-li"><a href="/vendor/withdraw/add"><i class="fa fa-circle-o"></i>New Request</a></li>-->
            </ul>
        </li>

        <li class="treeview" id="question-answer-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-question-circle"></i> <span>Question & Answer</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="question-answer-list-li"><a href="/admin/dataset/question/list"><i class="fa fa-circle-o"></i>Questions Management</a></li>
            </ul>
        </li>

        <li class="treeview" id="dataset-review-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-message-settings fa-star"></i> <span>Customer Reviews</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="dataset-review-list-li"><a href="/admin/reviews/list"><i class="fa fa-circle-o"></i>Review Management</a></li>
            </ul>
        </li>

        <li class="treeview" id="asset-class-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-money"></i> <span>Asset Class</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="asset-class-list-li"><a href="/admin/asset_class/list"><i class="fa fa-circle-o"></i>Asset Class List</a></li>
                <li id="asset-class-add-li"><a href="/admin/asset_class/add"><i class="fa fa-circle-o"></i>Add Asset Class</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-category-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-list-ol"></i> <span>Data Category</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-category-list-li"><a href="/admin/data_category/list"><i class="fa fa-circle-o"></i>Data Category List</a></li>
                <li id="data-category-add-li"><a href="/admin/data_category/add"><i class="fa fa-circle-o"></i>Add Data Category</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-type-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-list-ul"></i> <span>Data Type</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-type-list-li"><a href="/admin/data_type/list"><i class="fa fa-circle-o"></i>Data Type List</a></li>
                <li id="data-type-add-li"><a href="/admin/data_type/add"><i class="fa fa-circle-o"></i>Add Data Type</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-frequency-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-signal"></i> <span>Data Frequency</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-frequency-list-li"><a href="/admin/data_frequency/list"><i class="fa fa-circle-o"></i>Data Frequency List</a></li>
                <li id="data-frequency-add-li"><a href="/admin/data_frequency/add"><i class="fa fa-circle-o"></i>Add Data Frequency</a></li>
            </ul>
        </li>

      <!--  <li class="treeview" id="data-price-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-dashboard"></i> <span>Price Type</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-price-list-li"><a href="/admin/price_type/list"><i class="fa fa-circle-o"></i>Data Price Type List</a></li>
                <li id="data-price-add-li"><a href="/admin/price_type/add"><i class="fa fa-circle-o"></i>Add Price Type</a></li>
            </ul>
        </li>-->
<!--
        <li class="treeview" id="data-publisher-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-creative-commons"></i> <span>Publisher</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-publisher-list-li"><a href="/admin/data_publisher/list"><i class="fa fa-circle-o"></i>Data Publisher List</a></li>
                <li id="data-publisher-add-li"><a href="/admin/data_publisher/add"><i class="fa fa-circle-o"></i>Add Data Publisher</a></li>
            </ul>
        </li>-->

        <li class="treeview" id="data-region-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-css3"></i> <span>Region</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="data-region-list-li"><a href="/admin/data_region/list"><i class="fa fa-circle-o"></i>Data Region List</a></li>
                <li id="data-region-add-li"><a href="/admin/data_region/add"><i class="fa fa-circle-o"></i>Add Data Region</a></li>
            </ul>
        </li>

        <li class="treeview" id="data-sales-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle" >
                <i class="fa fa-dollar"></i> <span>Promotion/Sales</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
              <!--  <li id="data-membership-list-li"><a href="/admin/membership/list"><i class="fa fa-circle-o"></i>Membership</a></li>-->
                <li id="data-sales-list-li"><a href="/admin/data_sales/list"><i class="fa fa-circle-o"></i>Data Sales List</a></li>
                <li id="data-shopping-list-li"><a href="/admin/shopping/list"><i class="fa fa-circle-o"></i>Data Shopping History</a></li>

            </ul>
        </li>


        <li class="treeview" id="setting-li" onclick="sidebar_item(this);">

            <a class="treeview-toggle" >
                <i class="fa fa-dollar"></i> <span>Settings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>

            <ul class="treeview-menu">
                <li id="contact-us-list-li"><a href="/admin/contact_us/list"><i class="fa fa-circle-o"></i>ContactUs</a></li>
                <li id="setting-list-li"><a href="/admin/plan/list"><i class="fa fa-circle-o"></i>Membership</a></li>
                <li id="setting-fee-li"><a href="/admin/fee/list"><i class="fa fa-circle-o"></i>Fee Setting</a></li>
            </ul>
        </li>


        <li class="treeview" id="inbox-question-answer-manage-li" onclick="sidebar_item(this);">
            <a class="treeview-toggle">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <span class="pull-right-container">
              <small class="label pull-right bg-red">[[${unread_nums}]]</small>
            </span>
            </a>
            <ul class="treeview-menu">
                <li id="inbox-question-answer-list-li"><a href="/admin/inbox/question/list"><i class="fa fa-circle-o"></i>Vendor's Question</a></li>
                <li id="inbox-notification-list-li"><a href="/admin/inbox/notification/list"><i class="fa fa-circle-o"></i>Notifications</a></li>
            </ul>
        </li>

    </ul>
</section>

</body>
</html>