<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataexo.zblog.mapper.Contact_usMapper">
    <!--通过username获取user对象-->
   <select id="findAll" resultType="contact_us">
       select * from contact_us ORDER BY submit_timestamp
   </select>
    <!--获取一条-->
   <select id="getContact_usById" resultType="contact_us">
       select * from contact_us where id = #{id}
   </select>
    <!--初始化加载 携带查询条件-->
    <select id="loadContact_us" resultType="contact_us">
        select * from contact_us
        <if test="pager.search_str != null and pager.search_str != ''">
            where user_name like concat('%',#{pager.search_str},'%')
        </if>
        ORDER BY submit_timestamp
        limit #{pager.start},#{pager.limit}
    </select>
    <!--保存一条-->
    <insert id="saveContact_us">
        insert into contact_us(user_name, email, message, submit_timestamp)
        VALUES (#{user_name}, #{email}, #{message}, #{submit_timestamp})
    </insert>
    <!--删除一条-->
    <delete id="deleteContact_us">
        delete from contact_us where id = #{id}
    </delete>

    <update id="updateContact_us">
        update contact_us set
        user_name = #{user_name}
        , email = #{email}
        , message = #{message}
        , submit_timestamp = #{submit_timestamp}

    </update>

    <select id="initPage" resultType="int">
        SELECT count(id) from contact_us
        <if test="search_str != null and search_str != ''">
            where user_name like concat('%',#{search_str},'%')
        </if>
    </select>

</mapper>

