<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataexo.zblog.mapper.Data_frequencyMapper">

   <select id="findAll" resultType="data_frequency">
       select * from data_update_frequency
   </select>

    <select id="getData_frequencyById" resultType="data_frequency">
       select * from data_update_frequency where id = #{id}
   </select>

    <select id="loadData_frequency" resultType="data_frequency">
        select * from data_update_frequency
        <if test="pager.search_str != null and pager.search_str != ''">
            where name like concat('%',#{pager.search_str},'%')
        </if>
        limit #{pager.start},#{pager.limit}
    </select>

    <select id="checkExist" resultType="data_frequency">
        select * from data_update_frequency where   name like #{name}
    </select>


    <!--保存一条-->
    <insert id="saveData_frequency">
        insert into data_update_frequency(name) VALUES (#{name})
    </insert>
    <!--删除一条-->
    <delete id="deleteData_frequency">
        delete from data_update_frequency where id = #{id}
    </delete>

    <update id="updateData_frequency">
        update data_update_frequency set name = #{name} where id =#{id}
    </update>


    <select id="initPage" resultType="int">
        SELECT count(id) from data_update_frequency
        <if test="search_str != null and search_str != ''">
            where name like concat('%',#{search_str},'%')
        </if>
    </select>
</mapper>

