<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataexo.zblog.mapper.FavouriteMapper">


   <select id="getFavouriteList" resultType="favourite">
       select
       A.id,
       A.userid,
       A.series_id,
       B.name as series_name,
       B.description as series_description

       from favourite A, data_set_series B
       where
       A.series_id=B.id
       <if test="userid != -1 and series_id != -1" >
         AND   userid = #{userid} AND series_id = #{series_id}
       </if>
       <if test="userid != -1 and series_id == -1" >
           AND  userid = #{userid}
       </if>
       <if test="userid == -1 and series_id != -1" >
           AND series_id = #{series_id}
       </if>
   </select>

    <select id="getByOne" resultType="favourite">
        select * from favourite
        where
            userid = #{userid} AND series_id = #{series_id}
    </select>

    <insert id="insertFavourite">
        insert into favourite(userid,series_id) VALUES (#{userid},#{series_id})
    </insert>

    <delete id="deleteFavourite">
        delete from favourite where id=#{id}
    </delete>
</mapper>

