<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head" id="head">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122994530-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122994530-1');
	</script>


	<title>DATAEXO</title>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/x-icon" href="/images/favicon.png" />

	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap/font-awesome.min.css">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/lib/sweetalert.css">


	<script src="/js/main/slim-min.js"></script>
	<script src="/js/main/popper.min.js"></script>
	<script src="/js/lib/jquery-3.2.1.min.js"></script>
	<script src="/js/main/bootstrap/bootstrap.min.js"></script>


	<script src="/js/lib/jquery-ui.js"></script>
	<script src="/js/lib/password-checker.js"></script>
	<script src="/js/lib/jquery.cookie.js"></script>
	<script src="/js/lib/sweetalert-dev.js" ></script>

	<link rel="stylesheet" href="/css/lib/star-rating.min.css" />
	<script src="/js/lib/star-rating.min.js"></script>

	<script type="text/javascript"> //<![CDATA[
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
	</script>

</head>

</html>